/* Estilos generales */
.ie-panel {
    display: none;
    background: #212121;
    padding: 10px 0;
    box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);
    clear: both;
    text-align: center;
    position: relative;
    z-index: 1;
}
.mapa{
    text-align: center;
}
.titulo li {
    color: #676767;
}
html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {
    display: block;
}

.search-container {
    position: relative;
}

.search-input {
    padding: 6px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 10px;
    border: none;
    background: none;
    cursor: pointer;
}

.search-button .mdi {
    font-size: 20px;
}

/* Estilos para la ventana emergente */
.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    padding: 20px;
    background-color: white;
    z-index: 1001;
    width: 51%;
    max-width: 481px;
    height: auto; /* Cambiado a "auto" para que se ajuste al contenido */
    max-height: 446px; /* Añadido para evitar que la ventana emergente sea demasiado alta */
    overflow-y: auto; /* Añadido para permitir desplazamiento vertical si el contenido es demasiado largo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
}


/* Estilos para el fondo oscuro */
.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

/* Estilo del botón de cierre */
.close-btn {
    float: right;
    cursor: pointer;
    font-size: 24px;
}

/* Estilos específicos para la estructura del mapa del sitio */
#popup ul {
    list-style-type: none;
    padding-left: 0;
    color: #212121;
}

#popup ul > li {
    margin: 10px 0;
    font-weight: bold;
}

#popup ul > li > ul {
    padding-left: 20px;
    font-weight: normal;
}

#popup ul > li > ul > li {
    margin: 5px 0;
}
